@media(min-width:1366px) {
/*#CSS Reset*/
    html,body{
        width: 100% !important;
        height: 100% !important;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
        font-family: 'Teko', sans-serif !important;
    }
    a{
        text-decoration: none;
    }
/*Default CSS*/
    /*Fonts*/
    /* @font-face {
        font-family: 'Oswald', sans-serif;
        src: url("/rsc/font/Oswald-Bold.ttf");
        src: url("/fonts/Roboto-Regular.eot?#iefix") format('embedded-opentype'),
             url("/fonts/Roboto-Regular.ttf") format('truetype');
        font-weight: 700;
    }
    @font-face {
        font-family: 'Oswald', sans-serif;
        src: url("/rsc/font/Oswald-SemiBold.ttf");
        src: url("/fonts/Roboto-Regular.eot?#iefix") format('embedded-opentype'),
             url("/fonts/Roboto-Regular.ttf") format('truetype');
        font-weight: 600;
    }
    @font-face {
        font-family: 'Oswald', sans-serif;
        src: url("/rsc/font/Oswald-Medium.ttf");
        src: url("/fonts/Roboto-Regular.eot?#iefix") format('embedded-opentype'),
             url("/fonts/Roboto-Regular.ttf") format('truetype');
        font-weight: 500;
    }
    @font-face {
        font-family: 'Oswald', sans-serif;
        src: url("/rsc/font/Oswald-Regular.ttf");
        src: url("/fonts/Roboto-Regular.eot?#iefix") format('embedded-opentype'),
             url("/fonts/Roboto-Regular.ttf") format('truetype');
        font-weight: 400;
    }
    @font-face {
        font-family: 'Oswald', sans-serif;
        src: url("/rsc/font/Oswald-Light.ttf");
        src: url("/fonts/Roboto-Regular.eot?#iefix") format('embedded-opentype'),
             url("/fonts/Roboto-Regular.ttf") format('truetype');
        font-weight: 300;
    }
    @font-face {
        font-family: 'Oswald', sans-serif;
        src: url("/rsc/font/Oswald-ExtraLight.ttf");
        src: url("/fonts/Roboto-Regular.eot?#iefix") format('embedded-opentype'),
             url("/fonts/Roboto-Regular.ttf") format('truetype');
        font-weight: 200;
    } */
/*#Cascading style*/
  /*##HeaderClass*/
            .headerClass{
                width: 100%;
                height: 85px;
                position: fixed;    
                background-color: #961326;
                /*div on div behind one another*/
                z-index: 10;
            }
            .logoClass,
            .navClass{
            display: inline-block;
            vertical-align: top;
            }
            .hd-btn1, .hd-btn2, .hd-btn3, .hd-btn4, .hd-btn5, .hd-btn6, .hd-spl1, .hd-spl2, .hd-spl3, .hd-spl4{
                display: inline-block;
                text-align: center;
                color: #fff;
                
            }
        .hd-btn1,
        .hd-btn2,
        .hd-btn3,
        .hd-btn4,
        .hd-btn5,
        .hd-btn6{
            display: inline-block;
            
        }
        .hd-btn1,
        .hd-btn2,
        .hd-btn3,
        .hd-btn4{
            padding: 2.5px;
            height: 14px;
            color: #fff;
        }
        .hd-btn1 a,
        .hd-btn2 a,
        .hd-btn3 a,
        .hd-btn4 a{
            padding: 5px;
            font-size: 20px;
            color: #fff;
            white-space: nowrap;
        }
        .hd-btn5,
        .hd-btn6{
                background-color: #000;
                padding: 18px 19px;
                margin-left: 5px;
                margin-right: 5px;

        }
        .hd-btn5 a,
        .hd-btn6 a{
                color: #fff;
                font-size: 20px;
                
        }
        .hd-btn5:hover a,
        .hd-btn6:hover a{
                color: #cf0224;
                transition: all .4s ease-in-out;
        }
        .headerClassContainer{
            padding-left: 135px;
            padding-right: 135px;
            padding-top:10px;
            height: 80px;
        }
        .logoClass{
                padding-right: 14rem;
                padding-top:3px;
        }
     
   /*##bodyClass*/
        /*###bodyClassHero*/
        .bodyClassHero{
            width: 1349px;
            height: 700px;
            background-image: url("/rsc/img/3.webp");
            background-size: cover;  
            background-repeat: no-repeat;
            background-position: center; 
        }
        .bodyClassHeroContainer{
            vertical-align: top;
            padding:10% 25%;
        }
        .heroTitle{
            text-align: center;
        }
        .Hero-title1{
            color: #FFF;
            font-size: 3em;
            max-width: 600px;
            margin: 0 auto;
            padding-bottom: 0px;
            text-shadow: 0px 0px 95px #000, 0px 0px 5px #000;
            /* position: relative; */
        }
        .Hero-title2{
            color: #FFF;
            font-size: 12em;
            max-width: 650px;
            margin: 0 auto;
            padding-bottom: 0px;
            line-height: .7em;
            text-shadow: 0px 0px 95px #000, 0px 0px 5px #000;
        }
        .Hero-title3{
            color: #FFF;
            font-size: 3em;
            max-width: 600px;
            margin: 30px auto 0;
            line-height: 0.9em;
            padding-bottom: 0px;
            text-shadow: 0px 0px 95px #000, 0px 0px 5px #000;
        }
        .Hero-title4-line{
            margin: 20px 280px;
            border-top: 2px solid rgba(255,255,255,0.8);
        }
        .Hero-title5{
            color: #FFF;
            font-size: 2.1em;
            padding-bottom: 0.75rem;
            line-height: 100% !important;
            text-shadow: 0px 0px 95px #000, 0px 0px 5px #000;
        }
        .Hero-title6-btn-container a,
        .Hero-title7-btn-container a{
            font-family: 'Teko', sans-serif;
            font-size: 1.2rem;
        }
        .heroBtnWrapper{
            padding-left: 25%;
        }
        .Hero-title6-btn,
        .Hero-title7-btn{
            display: inline-block;
        }
        .Hero-title6-btn-container{
            border: #fff solid 2px;
            color: #fff;
            text-transform: uppercase;
            font-family: oswald,sans-serif;
            padding: 10px 40px;
            margin-right: 10px;
        }
        .Hero-title6-btn-container a{
            color: #FFF;
            border-color: #FFF;
            margin-top: 0;
            padding-bottom: 8px;
            padding-top: 8px;
        }
        .Hero-title7-btn-container{
            border: #8b0a1f solid 2px;
            color: #fff;
            text-transform: uppercase;
            font-family: oswald,sans-serif;
            padding: 10px 40px;
            margin-right: 10px;
            background-color: #8b0a1f;
        }
        .Hero-title7-btn-container a{
            color: #FFF;
            border-color: #8b0a1f;
            margin-top: 0;
            padding-bottom: 8px;
            padding-top: 8px;
        }
        /*###bodyClassJob*/
        .title-with-dash,
        .dash{
            display: inline-block;
            
            font-size: 2.5em;
        }
        .dash{
            color: #8b0a1f;
            font-weight: 500;
            font-size: 2.5em;
        }
        
        .jobHeaderContainer {
            text-align: center;
            padding-top: 40px;
            padding-bottom: 40px;
            margin: auto 135px;
            width: 1080px;
            height:30px;
        }
        .jobBody{
            margin: 10px 202px;
           
        }
        .jobBodyWrapper{
            width: 280px;
            height: 322px;
        }
        /*each card style*/
        .jobWrapper-Container-bg,
        .bg1{
            background-image: url("/rsc/img/2.webp");
            background-size: cover;  
            background-repeat: no-repeat;
            background-position: center; 
            width: 252.11px;
            height: 252.11px;
            margin: 0 auto;
        }
        .jobWrapper-Container-label a,
        .lb1 a{
            text-decoration: none;
            color: #fff;
        }
        .jobWrapper-Container-label,
        .lb1{
            /*div horizontally center*/
            margin: 0 auto;
            position: relative;
            padding: 5px;
            bottom: 0;
            text-align: center;
            background-color: #951326;
            width: 100%;
            font-size: 1.2rem;
            font-weight: 700;
            /*This is how div on div work*/
            top: -50px;
            /*make it center between divs*/
            left: -5px;    
            /* margin-bottom: -1px; */
        }
        .jobWrapper-Container-Des,
        .des1{
            position: relative;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1rem;
            text-align: center;
            color: #951326;
            font-family: 'Roboto', sans-serif;
            top: -20px;
        }
        .jobBodyWrapper{
            padding: 20px 15px;
        }
        /*####3x3 grid*/
        .wrapper-segregation1,
        .wrapper-segregation2,
        .wrapper-segregation3{
            display: inline-block;
            vertical-align: top;
        }
        .wrapper-segregation4,
        .wrapper-segregation5,
        .wrapper-segregation6{
            display: inline-block;
            vertical-align: top;
        }
        /*##bodyClassVideo*/
        .bodyClassVideoContainer{
            width: 100%;
            background-color: #000;
            height: 358px;
        }
        .thumbnail-link:hover .image {
            opacity: 0.3;
            transition: .5s ease;
            backface-visibility: hidden;
        }
        .playbtn{
            position: relative;
            top: -225px;
            left: 250px;
        }
        /*left and right on same line*/
        .videoLeftSize,
        .videoRightSize{
            display: inline-block;
        }
        .videoLeftSize-container{
            height: 358px;
        }
        .videoRightSizeContainer{
            position: relative;
            width: 637px;
            height: 228px;
            top: -210px;
            left:100px;
        }
        .videoClass-title{
            color: #fff;
            font-weight: 700;
            font-size: 2.5rem;
            /* line-height: 40px; */
        }
        .videoClass-des{
            color: #fff;
            width: 450px;
            height: 81px;
            font-family: 'Roboto', sans-serif 
        }
        .contentText,
        .contentImage{
            display: inline-block;
            vertical-align: top;
        }
        .bodyContentContainer{
            height: 358px;
            font-family: 'Roboto', sans-serif ;
        }
        .contentTextWrapper{
         padding: 70px 196px 0 150px;
        }
        .textTitle{
            padding-left: 20px;
            font-family: 'Roboto';
            color: #951326;
            font-weight: 700;
        }
        ul{
            font-family: 'Roboto';
            letter-spacing: 0;
            font-weight: 500;
            font-size: 16px;
            color: #020202;
            line-height: 2em;
            font-weight: 600;
        }
    /*bodyClassForm*/
    .bodyClassForm{
        width: 100%;
        height: 910px;
        background-color: #000;
    }
    .bodyFormContainer{
        margin: 0 134px;
        padding: 30px;
        width: 1009px;
        height: 851px;
    }
    .formContainer{
        width: 486px;
        height: 811px;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        font-family: Roboto;
        margin: 0 250px;
    }
    .formTitle{
        font-family: 'Teko', sans-serif;
        text-align: center;
        font-weight: 700;
        font-size: 2.7rem;
    }
    .inputBox{
        width: 200px;
        height: 44px;
        border: 1px solid #bbb;
        color: #4e4e4e;
        background-color: #fff;
        border-radius: 4.5px;   
        padding-left: 15px;
        font-size: 1rem; 
        margin: 6px 2px;
    }
    .form-subContainer{
        padding: 0 18px;
    }
    select{
        width: 443px;
        height: 44px;
        border: 1px solid #bbb;
        color: #000;
        background-color: #fff;
        border-radius: 4.5px;   
        padding-left: 15px;
        font-size: 1rem; 
        margin: 6px 2px;
    }
    .sN1,
    .n1{
        display: inline-block;
    }
    .sN2,
    .n2{
        display: inline-block;
    }
    .subNum{
        width: 287px;
        height: 44px;
    }
    .number{
        width: 135px;
        height: 44px;   
        border: 1px solid #bbb;
        color: #4e4e4e;
        background-color: #fff;
        border-radius: 4.5px;   
        padding-left: 15px;
        font-size: 1rem; 
        margin: 6px 2px;
      
    }
    .subNum{
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 1rem;
        color: #666666;
    }
    hr{
        margin: 0 180px;
        border-top: #d00e17 solid 1px;
    }
    .row{
        font-family: 'Roboto';
        font-size: 18px;  
        color: #666666;
        font-weight: 700;
    }
    .checkbox{
        width: 16px;
        height: 16px;
    }
    .cb{
        font-size: 1rem;
        color: #666666;
        line-height: 1.9rem;
    }
    .cb a{
        color: #8b0a1f;
    }
    .submit{
        
        background-color: #951326;
        font-family: 'Teko', sans-serif;
        color: #fff!important;
        text-transform: uppercase;
        font-size: 24px;
        text-align: center;
        padding: 14px 195px;
        border-radius: 4.5px;   
        border-color: #FFF;
    }
    /*##topFooterContainer*/
    .bodyClassTopFooter{
        margin:0 134px;
        padding-top:20px;
        padding-bottom:20px;
    }
    .topFooterContainer{
        height: 90px;
        width: auto;
        padding: 30px 35px;
    }
    .topFooterWrapper{
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
        border: #7e050b solid 1px;
        color: #8d8d8d;
        font-family: 'Roboto';
        font-size: 0.8rem;
    }
    /*##Footer*/
   /*##footerClass*/
   .footerClass{
    width: 100%;
    height: 42px;
    padding: 15px 20px;
    background-color: #bdbdbd;
}
   .footerLeft,
   .footerRight{
       display: inline-block;
   }
   .ft1,
   .ft2,
   .ft3,
   .ft4,
   .ft5,
   .ft6{
       display: inline-block;
   }
/*End of Style*/
}