@media(min-width:1366px) {
       /*#CSS Reset*/
    html,body{
        width: 100% !important;
        height: 100% !important;
        margin: 0px !important;
        padding: 0px !important;
        overflow-x: hidden !important; 
        font-family: 'Oswald', sans-serif;
    }
    a{
        text-decoration: none;
    }
    /*CSS Style Cascading*/
    .banner-title,
    .banner-dropdown{
        display: inline-block;
        padding: 10px;
        color: #ffffff;  
        font-size: 2rem;
    }
    .banner-container{
        height: 80px;
        background-color: #451400;
        width: 100%;
        text-align: center;
    }
    .logo{
        width: 80px;
        height: 80px;
    }
   
    .stickyHeaderleft, .stickyHeadermiddle, .stickyHeaderright{
        display: inline-block;
        vertical-align: middle; 
    }
    .md-title1, 
    .md-title2, 
    .md-title3,
    .md-title4,
    .md-title5{
        display: inline-block;
        font-size: 2rem;
        padding: 0 0.5rem;
    }
    .md-title1 a, 
    .md-title2 a,
    .md-title3 a,
    .md-title4 a,
    .md-title5 a{
        color: #451400;
        text-decoration: none;
    }

    .stickyHeaderright{
        background-color: #451400;
        border-radius: 20px;
        padding: 7px 20px;
        font-size: 1.1rem;
    }
    .sm-link{
        text-decoration: none;
        color: #ffffff;
    }
    .sm-logo, .sm-text{
        display: inline-block;
        vertical-align: top;
        /* padding: 0 3px; */
    }
    .sm-logo{
        width: 26px;
        height: 26px;
    }
    .stickyHeader-container{
        padding: 5px 1vw;
        position: sticky;
        top: 0;
        /* text-align: center; */
    }
    .stickyHeadermiddle{
        text-align: center;
    }
    .stickyHeadermiddle-container{
        padding: 0 24vw;
    }
    .heroClass{
        background-image: url("../rsc/img/hero-bg.webp");
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center;
        width: 100%;
        height: 690px;
        /* text-align: center; */
    }
    .hb1, .hb2{
        display: inline-block;
    }
    .hb1{
        font-family: 'Muli', sans-serif;
        font-size: 1.8rem;
        background-color: #ad2118;
        color: #ffffff;
        padding: 0.6vw 4vw;
        float:left;
        /* margin-bottom: 0.9vw; */
    }
    .hb2{
        font-size: 1.8rem;
        font-weight: 800;
        padding: 0.23vw 4vw;
        background-color: #82120a;
        text-align: center;
        padding-bottom:0.6vw;
    }
    .arrow{
        font-size: 1.3vw;
    }
    .hb2 a{
        text-decoration: none;
        color: #ffffff;
    }
    .hero-container{
        padding-left: 20vw;
        padding-right: 20vw;
        padding-top: 32vw;
    }
    
/*End of Style*/
}