@media(min-width:1366px) {
/*#CSS Reset*/
    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }
    a{
        text-decoration: none;
    }
/*#Cascading style*/
  /*##HeaderClass*/
    .headerClass{
        width: 100%;
        height: 80px;
        position: fixed;    
        background-color: #961326;
    }
    .logoClass,
    .navClass{
      display: inline-block
    }
}