
@media(min-width:1024px) and (max-width:1365px){
   /*#CSS Reset*/
   html,body{
    width: 100% !important;
    height: 100% !important;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: 'Teko', sans-serif !important;
}
a{
    text-decoration: none;
}

/*End of Style*/
}