@media only screen and (min-width:110px) and (max-width:767px){
    $color: (
        primary: #005DFF,
        accent: #FFF6BB
    );
    body{
        background-color: map-get($color, primary);
    }
    
}

