@media only screen and (max-width: 767px)  {
    html, body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }
    body,
    select {
        font-family: 'Merriweather Sans', sans-serif
    }
    body {
        margin: 0
    }
    select {
        Border: none;
        color: #42526E;
        background-color: transparent;
    }
    .headernavbar {
        text-align: left;
        display: block;
        width: 100%
    }
    .headernavbar .nav--left {
        display: flex;
        float: left
    }
    .hamburger-dropdown,
    .logo img,
    .searchbtn {
        display: inline
    }
    .nav--left {
        height: 10px;
        margin: -3px 5px;
        width: 161px
    }
    .hamburger-dropdown,
    .searchbtn {
        float: right
    }
    .headernavbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #fff
    }
    div a {
        display: block;
        color: #b8b8b8;
        text-align: center;
        padding: 20px;
        text-decoration: none;
    }
    .component-link-btn,
    .component-register-btn,
    .frontpage-bg {
        text-align: center;
        color: #fff;
    }
    .frontpage-bg img {
        width: 100%;
        height: auto;
        background-color: #1E133C;
    }
    .frontpage-bg {
        position: relative;
        height: 475px;

    }
    .frontpage-heading {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -60%);
        width: 328px;
        height: 80px
    }
    .component-register-btn,
    p {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    p {
        top: 50%;
        width: 328px;
        height: 112px
    }
    .component-register-btn {
        top: 75%;
        border: 2px solid rgb(255, 255, 255);
        background-color: Transparent;
        border-radius: 4px
    }
    
    .component-link-btn {
        width: 126px;
        height: 40px;
        margin: 0 auto;
        display: inline-block;
        line-height: 42px;
        padding: 0 5px
    }
    #f1-description,
    h3.f1-heading {
        color: #253858;
        letter-spacing: .3px;
        line-height: 1.2
    }
    .f1 {
        background-color: #eee;
        padding: 20px 0
    }
    .f1 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        width: 300px;
        height: auto;
        padding: 16px
    }
    h3.f1-heading {
        font-size: 1.1rem;
        margin: 14px 25px
    }
    #f1-description {
        margin: 0 25px;
        font-size: 14px;
        word-wrap: break-word
    }
    .f1-btn,
    .f1-component-link-btn {
        color: #0052CC;
        white-space: normal
    }
    .f1-btn {
        text-align: left;
        position: relative;
        border: 2px solid #0052CC;
        background-color: Transparent;
        border-radius: 4px;
        margin: 14px 25px;
        width: 30%;
        height: auto
    }
    .f1-component-link-btn {
        width: 96.48px;
        height: 30px;
        margin: 0 auto;
        padding: 0;
        line-height: 30px;
        text-align: center;
        font-size: 13px
    }
    h3.f2-header,
    h3.f3-heading {
        line-height: 1.2;
        color: #253858
    }
    h3.f2-header {
        font-size: 1.3rem;
        letter-spacing: 0;
        margin: 20% 15px 0;
        text-align: center
    }
    h6#f2-description {
        color: #253858;
        font-size: 1rem;
        text-align: center;
        margin: 18px 0
    }
    #horizon-rule {
        background: #0052CC;
        height: 4px;
        width: 140px
    }
    .f3-app1-img {
        height: 10px;
        width: 161px
    }
    h3.f3-heading {
        font-size: 1.1rem;
        letter-spacing: .3px;
        margin: 14px 25px
    }
    h6.f3-app1-content,
    h6.f3-app10-content,
    h6.f3-app2-content,
    h6.f3-app3-content,
    h6.f3-app4-content,
    h6.f3-app5-content,
    h6.f3-app6-content,
    h6.f3-app7-content,
    h6.f3-app8-content,
    h6.f3-app9-content {
        color: #253858;
        font-size: 1rem;
        letter-spacing: .3px;
        line-height: 1.2;
        margin: 14px 25px
    }
    .f3-app1-img,
    .f3-app10-img,
    .f3-app2-img,
    .f3-app3-img,
    .f3-app4-img,
    .f3-app5-img,
    .f3-app6-img,
    .f3-app7-img,
    .f3-app8-img,
    .f3-app9-img {
        margin: 14px 25px;
        padding: 20px 0
    }
    .f3-app1-link,
    .f3-app10-link,
    .f3-app2-link,
    .f3-app3-link,
    .f3-app4-link,
    .f3-app5-link,
    .f3-app6-link,
    .f3-app7-link,
    .f3-app8-link,
    .f3-app9-link {
        text-align: left;
        margin: 0px 5px;
        color: #0052CC;
        padding: 0 20px;
    }
    .f3-component-link-btn,
    h3.f3-header,
    h3.f4-header,
    h6#f3-description {
        text-align: center;
        color: #253858
    }
    .f3 {
        background-color: #F4F5F7;
        padding: 0
    }
    .f3-container{
        padding: 15px 0;
        margin: 15px 0;
    }
    h3.f3-header {
        font-size: 1.3rem;
        letter-spacing: 0;
        line-height: 1.2;
        margin: 25px 15px
    }
    h6#f3-description {
        font-size: 1rem;
        margin: 15px
    }
    .f3-btn {
        border: 2px solid #79F2C0;
        background-color: #79F2C0;
        border-radius: 4px;
        width: 180.38;
        height: 40px;
        margin: 30px 85px
    }
    .f3-component-link-btn {
        width: 180.38;
        height: 40px;
        margin: 0 auto;
        display: inline-block;
        line-height: 42px;
        padding: 0 5px;
        font-weight: 700
    }
    .f4 {
        display: block;
        width: 50%;
        padding: 17px;
        margin: 0px;
    }
    .f4-image{
        padding-left:50px;
    }
    .f4-heading{
        height: 48px;
        width: 328px;
    }
    #f4-description{
        height: 40px;
        width: 324px;
    }
    f4-foot{
        padding: 0px;
    }
    .p3-link-btn{
        text-align: left; 
        margin: 0px 5px; 
        color: #0052CC; 
        padding: 0px;
    }
    #horizon-rule-2 {
        background: #e7e7e7;
        height: 1px;
        width: 90%
    }
    h3.f4-header {
        font-size: 1.5rem;
        letter-spacing: 0;
        line-height: 1.8;
        margin: 20% 15px 0
    }
    #f6-description,
    #story-f1-description,
    h3.bottom-heading {
        letter-spacing: .3px;
        line-height: 1.2
    }
    .company-logo-img {
        width: 328px;
        height: auto;
        padding: 10px 15px
    }
    .plan-package-software-new{
        float: left;
        border-radius: 4px;
        box-shadow: 1px 1px 6px rgba(0,0,0,.1);
    }
    .story1 {
        padding: 0 16px
    }
    .comp-story1 {
        padding: 0 40px 40px
    }
    .image-story1 {
        padding-top: 10px;
        padding-bottom: 50px
    }
    #story-f1-description {
        color: #253858;
        font-size: 14px
    }
    .story-f3-app1-link {
        text-align: left;
        color: #0052CC;
        padding: 0
    }
    .link-learn-more-a,
    .link-learn-more {
        clear:both;
        color: #0342ad;
        text-align: center;
        padding-top: 15px;
    }
    .f6-link {
        color: #0342ad;
        width: 248px;
        height: 20px;
        padding: 0;
        text-align: left;
    }
    #f6-description {
        color: #253858;
        margin: 0 25px;
        font-size: 14px
    }
    .component-f6 {
        background-color: #eee;
        padding: 40px 20px;
        margin: 25px;
    }
    .component-f6 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        width: 300px;
        height: auto
    }
    .class1-content-agendar {
        width: 100%;
        padding: 16px
    }
    .class1-content-icon1 {
        width: 20%;
        padding: 0 15px 0 0
    }
    .class2-content-link {
        width: 80%
    }
    .class2-content-link,
    .class2-content-link a {
        text-align: left;
        color: #0052CC;
        text-decoration: none;
        padding: 5px 0;
    }
    .bottom-class-link,
    .class-last {
        color: #42526E
    }
    .bottom-logo-altassian img {
        padding: 15px
    }
    .bottom-section-f8 {
        padding: 16px 0;
        background-color: #F4F5F7
    }
    .class-last {
        width: 100%;
        padding: 16px
    }
    .bottom-class-link,
    .bottom-class-link-special {
        padding: 0;
        font-size: .875rem;
        display: block;
        text-align: left;
        text-decoration: none
    }
    .bottom-class-link-special {
        color: #0052CC
    }
    h3.bottom-heading {
        color: #42526E;
        margin-top: 0;
        font-size: 14px;
        font-weight: 700
    }
    #horizon-rule-3 {
        color: #ebebeb;
        height: 1px;
        width: 100%
    }
    .end-footer {
        padding: 20px
    }
    .footer-language {
        padding: 5px
    }
    .bottom-class-link-footer {
        display: block;
        color: #42526E;
        text-align: left;
        padding: 5px;
        text-decoration: none;
        font-size: .875rem
    }
    .social-link i {
        color: #42526E;
        padding: 10px
    }
    .footer-language i {
        color: #42526E
    }
    .buy-now-btn,
    .header-new-line,
    .header-new-line-btn,
    .try-free-btn {
        display: none;
    }
    .frontpage-bg{
        background-image: url("https://wac-cdn.atlassian.com/dam/jcr:b98acc66-09c9-482d-b442-fbb2ccbff414/AC+Atlassian-HP-hero.svg?cdnVersion=le");
        background-position: bottom center;
        background-repeat: no-repeat;   
        background-size: cover;
    }
    .p1-app-link{
        display: none;
    }
}