body {
    font-family: 'Merriweather Sans', sans-serif;
}
.headernavbar
{
    text-align:left;
}
.logo, .hamburger-dropdown, .searchbtn
{
    display:inline;
}   
.hamburger-dropdown, .searchbtn {
  float: right;
}
