.component-register-btn{
    white-space: nowrap;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    background-color: Transparent;
    color: black;
    width: 136px;
    height: 45px;
    font-size: 16px;
    cursor: pointer;
    border-color: #00FAEB;
    color: white;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
  }   
  .component-register-btn{

    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    background-color: Transparent;
    color: black;
   
  
    border-color: #00FAEB;
    color: white;
    border-radius: 4px;

  }   


  .f1-btn{
    text-align: center;
    position: absolute;
    border: 2px solid black;
    background-color: Transparent;
    border-color: #0052CC;
    border-radius: 4px;
    white-space: normal;
    margin: 14px 25px;
    
  }  
  .f1-component-link-btn{
    color: #0052CC;
    white-space: normal;
  } 
  
  