/*Extra large tablet mode*/
@media(min-width: 991.98px) and (max-width: 1366px){
    body {
      font-family: 'Merriweather Sans', sans-serif;
      margin: 0;
    }
    .top-inline-rightmost{
        float: right;
    }
    .header-new-line-btn{
        padding-top:20px;
    }
    select{
      font-family: 'Merriweather Sans', sans-serif;
      Border: none;
      color: #42526E;
      background-color: transparent;
    }
    .headernavbar
    {
        text-align:left;
        display: block;
        width: 100%;
    
    }
    .headernavbar .nav--left{
      display: flex;
      float: left;
    }
    .logo img,
    .hamburger-dropdown,
    .searchbtn,
    .try-free-btn,
    .buy-now-btn
    {
        display:inline;
    }
    /*only on iPad*/
    .try-free-btn{
      padding:15px 0;
    }
    .try-free-link{
      background-color:#0052CC;
      text-align: center;
      color: rgb(255, 255, 255);
      border-radius: 4px;
      font-size: 14px;
      padding: 3px 20px;
    }
    .buy-now-btn{
      padding:15px 0px;
    }
    .buy-now-link{
      background-color:rgb(255, 255, 255);
      text-align: center;
      color: #0052CC;
      border-radius: 4px;
      font-size: 14px;
      padding: 3px 20px;
    }
    .nav--left{
      height: 10px;
      margin: -3px 5px;
      width: 161px;
    }
    .hamburger-dropdown,
    .searchbtn,
    
    .try-free-btn,
    .buy-now-btn{
      float: right;
    }
    /*head-new-line*/
    .header-new-line{
    background-color: transparent;
      padding-left:200px;
 
    }
    .header-new-line-btn{
      float: left;
    }
    .header-new-line-link{
      background-color:rgb(255, 255, 255);
      text-align: center;
      color: #091E42;
      border-radius: 4px;
      font-size: 14px;
      padding: 0 5px 10px 20px;
    }
    .header-new-line-link i{
      color: #0052CC;
    }
    
    .headernavbar {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #ffffff;
    }
    div a {
      display: block;
      color: rgb(184, 184, 184);
      text-align: center;
      padding: 20px 20px;
      text-decoration: none;
    }
    
    /*top-page*/
    
    .frontpage-bg img{
      width:100%;
      height: 475px;
      background-color: #1E133C;
    }
    .frontpage-bg {
      position: relative;
      text-align: center;
      color: white;
    
    }
    .frontpage-heading {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -60%);
      width: 479.98px;
      height: 104px;
      font-size: 2.75rem;
    }
    p{
      position: absolute;
      top: 47%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 479.98px;
      height: 84px;
    }
    .component-register-btn{
      text-align: center;
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid black;
      background-color: Transparent;
      color: black;
      border-color: #00FAEB;
      color: white;
      border-radius: 4px;
    }
    .component-link-btn {
      width: 126px;
      height: 40px;
      margin: 0 auto;
      padding: 0;
      display: inline-block;
      line-height: 42px;
      text-align: center;
      padding: 0 5px;
      color: rgb(255, 255, 255);
    }
    
    /*f1*/
    .f1
    {
        text-align:left;
        display: block;
        width: 100%;
        background-color: rgb(238, 238, 238);
        padding: 20px 8%;
    
    }
    .f1,
    .f1 img{
      display: flex;
      float: left;
    }
    .f1 img,
    .f1-foot
    {
        display:inline;
    }
    
    .f1 img{
      display: block;
      width: 160px;
      height: auto;
      padding-left:50px;
    
    }
    h3.f1-heading{
      display: inline-block;
      color: #253858;
      margin-top: 0;
      font-size: 1.5rem;
      letter-spacing: .3px;
      line-height: 1.2;
      margin: 14px 20px;
    }
    #f1-description{
      color: #253858;
      font-size: 1.25rem;
      letter-spacing: .3px;
      line-height: 1.2;
      margin: 14px 25px;
      font-size: 14px;
    }
    .f1-btn{
      text-align: l eft  ;
      position: relative;
      border: 1px solid black;
      background-color: Transparent;
      border-color: #0052CC;
      color: #0052CC;
      border-radius: 4px;
      margin: 14px 25px;
      white-space: normal;
      width: 96.48px;
      height: 30px;
    
    
    }
    .f1-component-link-btn{
      width: 96.48px;
      height: 30px;
      margin: 0 auto;
      padding: 0;
      line-height: 30px;
      text-align: center;
      color:#0052CC ;
      font-size:13px;
      white-space: normal;
    }
    /*f2*/
    /*no style on f2-container*/
    /*clear: both on main contrainer to force div into 2 lines*/
    .f2-container{
      padding: 15px;
      clear: both
    }
    h3.f2-header{
      color: #253858;
      font-size: 2.05rem;
      line-height: 1.33333333;
      text-align: center;
      white-space: nowrap;
    
    }
    h6#f2-description{
      color: #253858;
      font-size: 1rem;
      text-align: center;
    
    }
    #horizon-rule{
      background: #0052CC;
        height: 4px;
        width: 140px;
    }
    /*f3-application*/
    .f3-container{
        background-color: rgb(255, 255, 255);
    }
    .f3-application{
      padding:15px;
    
    }
    .plan-package-software{
      width:25%;
      float:left;
      padding: 28px;
    }
    
    .plan-package-software-table{
      width:25%;
      float:left;
      padding: 25px;

      background-color: #ffffff;
    }
    .plan-package-software-footer{
      float:left;
      /*padding: 25px;*/
      background-color: #F4F5F7;
    }
    
    .collection-img-story img{
      width: 223.98px;
      height: 230px;
    }
    .main-collection-story{
      clear: both;
    }
    .main-collection-story-extend{
        border:2px solid green;
        width:49%;
        float:left;
        height:100%;
        margin-right:2%;
    }
    .f3-container{
        
    }
    .f3-app1-img{
      height: 10px;
      margin: -3px 5px;
      width: 161px;
    }
    
    h3.f3-heading{
      color: #253858;
      margin-top: 0;
      font-size: 1.10rem;
      letter-spacing: .3px;
      line-height: 1.2;
      margin: 14px 0px;
      white-space: nowrap;
    }
    /*services start css*/
    h6.f3-app1-content,
    h6.f3-app2-content,
    h6.f3-app3-content,
    h6.f3-app4-content,
    h6.f3-app5-content,
    h6.f3-app6-content,
    h6.f3-app7-content,
    h6.f3-app8-content,
    h6.f3-app9-content,
    h6.f3-app10-content{
      color: #253858;
      margin-top: 0;
      font-size: 1rem;
      letter-spacing: .3px;
      line-height: 1.2;
      margin: 14px 0px;
    }
    .f3-app1-img,
    .f3-app2-img,
    .f3-app3-img,
    .f3-app4-img,
    .f3-app5-img,
    .f3-app6-img,
    .f3-app7-img,
    .f3-app8-img,
    .f3-app9-img,
    .f3-app10-img{
      margin: 14px 0px;
      padding: 20px 0;
    }
    
    .f3-app1-link,
    .f3-app2-link,
    .f3-app3-link,
    .f3-app4-link,
    .f3-app5-link,
    .f3-app6-link,
    .f3-app7-link,
    .f3-app8-link,
    .f3-app9-link,
    .f3-app10-link{
      text-align: left;
      margin: 14px 5px;
      color: #0052CC;
    
    }
    /*image application*/
    /*new on iPad*/
    .image-application{
      width:479.98px;
      height: 278.88px;
      padding:0 0 10px 30%;
    }
    .p1{
      clear: both;
    }
    .p1-application{
      padding: 30px;
    }
    .p1-description-ipad{
      color: rgb(8, 230, 38);
    
    }
    /*f3*/
    .p3-btn,
    .p3-link-btn{
      text-align: left;
      color: #0052CC;
      padding: 0 12px;
    }
    .f3{
      background-color: rgb(255, 255, 255);
      padding: 5px 0;
    }
    .f3-container-tablet{
        padding: 100px;
    }
    
    h3.f3-header{
      color: #253858;
      margin-top: 0;
      margin: 25px 15px ;
      text-align: center;
      font-size: 2.10rem;
      line-height: 1.33333333;
      clear: both;
      padding-top:50px;
    }
    h6#f3-description{
      color: #253858;
      font-size: 0.9rem;
      text-align: center;
      margin: 15px;
    }
    .f3-btn{
    
      border: 2px solid black;
      background-color: #79F2C0;
      border-color: #79F2C0;
      border-radius: 4px;
      width: 180.38;
      height: 40px;
      margin:30px 40%;
    
    
    }
    .f3-component-link-btn{
      width: 180.38;
      height: 40px;
      margin: 0 auto;
      display: inline-block;
      line-height: 42px;
    
      padding: 0.5px 1.5px;
      color: #253858;
      font-weight: bold;
      text-align: center;
    }
    
    
    
    /*f4x*/
    .f4
    {
        text-align:left;
        display: block;
        width: 100%;
        background-color: rgb(255, 255, 255);
        padding: 40px 0px;
    
    }
    .f4,
    .f4 img{
      display: flex;
      float: left;
    }
    .f4 img,
    .f4-foot
    {
        display:inline;
    }
    
    .f4 img{
      display: block;
      width: 160px;
      height: auto;
      padding-left:50px;
    
    }
    h3.f4-heading{
      display: inline-block;
      color: #253858;
      margin-top: 0;
      font-size: 1.10rem;
      letter-spacing: .3px;
      line-height: 1.2;
      margin: 14px 25px;
    }
    h3.f4-header{
      display: inline-block;
      color: #253858;
      font-size: 1.10rem;
      letter-spacing: .3px;
      line-height: 1.2;
      font-size: 2.25rem;
      text-align: center;
    }
    #f2-description{
      display: none;
    }
    #f4-description{
      color: #253858;
      font-size: 1.25rem;
      letter-spacing: .3px;
      line-height: 1.2;
      margin: 14px 25px;
      font-size: 14px;
    }
    
    .testx{
    }
    .company-logo-img{
      width: 736px;
      height: auto;
      padding: 10px 15px;
    }
    /*P3*/
    .p1-app-link{
      text-align: left;
      color: #0052CC;
      padding:5px 0px;
    }
    /*story1*/
    .story1{
      padding: 0;
    
    }
    .comp-story1{
      padding: 0;
    
    }
    .collection-stories{
      padding: 0 15px;
    }
    .image-story1{
      padding-top: 10px;
      padding-bottom: 50px;
    }
    #story-f1-description{
      color: #253858;
      letter-spacing: .3px;
      line-height: 1.2;
      font-size: 14px;
    }
    .story-f3-app1-link{
      text-align: left;
      color: #0052CC;
      padding: 0;
    }
    
    .link-learn-more-a{
      color: #0342ad;
    
      text-align: center;
      margin-top: 0px;
      margin-bottom: 50px;
      clear: both;
    }
    /*to divide <DIV> into two column*/
    .f6-container{
        padding-left:20px;
   
    }
    .collection-f6-container{
     
    }
    .col-container-block{
      border:2px solid rgb(255, 255, 255);
      width:48%;
      float:left;
    }
    /*Atlassian enterprise - new section*/
    .f6-link{
      text-align: left;
      color: rgb(104, 7, 47);
      padding: 0;
    
    }
    #f6-description{
      color: #253858;
      margin-top: 0;
      font-size: 1.25rem;
      letter-spacing: .3px;
      line-height: 1.2;
      margin-bottom: 14px;
      margin: 0px 25px;
      font-size: 14px;
    
    }
    
    
    
    .component-f6{
      background-color: rgb(238, 238, 238);
      padding: 40px;    
    }
    .component-f6 img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      width: 300px;
      height: auto;
    
    }
    /*Content agenda reference*/
    .class1-content-agendar{
      width:100%;
    
    
    }
    .class1-content-icon1{
      width: 10%;
      padding: 0px 15px 0 0;
    }
    .class2-content-link{
      width: 80%;
    }
    /*reference link style*/
    .class2-content-link, .class2-content-link a{
      text-align: left;
      font-size: 0.8rem;

      color: #0052CC;
      text-decoration: none;
      padding: 2px;
    }
    .bottom-logo-altassian img{
      padding: 15px;
    }
    .bottom-section-f8{
      padding: 16px 0;
      clear: both;
    }
    .class-last{
      width:100%;
      /*padding: 16px;*/
      color: #42526E;
      padding-right:16px;
    }
    
    .bottom-class-link{
        display: block;
        color: #42526E;
        text-align: left;
        padding: 0;
        text-decoration: none;
        font-size: .875rem;
    }
    .bottom-class-link-special{
      display: block;
      color: #0052CC;
      text-align: left;
      padding: 0;
      text-decoration: none;
      font-size: .875rem;
    }
    h3.bottom-heading{
      color: #42526E;
      margin-top: 0;
      font-size: 14px;
      letter-spacing: .3px;
      line-height: 1.2;
      font-weight: 700;
      padding-right:20px
    }
    .bottom-section-f8{
      background-color: #F4F5F7;
    }
    #horizon-rule-3{
      color: rgb(235, 235, 235);
        height: 1px;
        width: 100%;
    }
    .end-footer{
      padding: 20px;
      background-color: #F4F5F7;

    }
    .footer-language{
      padding:5px;
    }
    .bottom-class-link-footer{
      display: block;
      color: #42526E;
      text-align: left;
      padding: 5px;
      text-decoration: none;
      font-size: .875rem;
    }
    .social-link i{
      color: #42526E;
      padding: 10px;
    }
    .footer-language i{
      color: #42526E;
    }
    .f3-app1-link{
      display: none;
    }
    .horizontal-rule{
        clear: both;
    }
    .container-footer-section{
        width: 100%;
        padding:0px 70px;
    }
    #horizon-rule-3{
        display: none;
    }
    .float-left-leftmost{
        float: left;
        width: 100%;
    }
    .float-left-rightmost{
        clear: both;
        width: 100%;
        background-color: #F4F5F7;
        float: right;
    }
    .float-left {
        float:left;
        width:115px; 
        white-space: nowrap;
        
        /*or 33% for equal width independent of parent width*/
        }
    /*end of code*/
    }